<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	 <div class="card-body">
	 		<h2>Tambah Pegawai</h2>
			<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
		
			Nama <br>
			<input type="text" name="nama" class="form-control" />
			<br>
			Tempat Lahir <br>
			<input type="text" name="tempat_lahir" class="form-control" />
			<br>
			Tanggal Lahir <br>
			<input type="date" name="tanggal_lahir" class="form-control" />
			<br>
			Tahun Masuk <br>
			<input type="text" name="tahun_masuk" class="form-control" />
			<br>
			Provinsi <br>
			<input type="text" name="provinsi" class="form-control" />
			<br>
			Nama Instansi <br>
			<input type="text" name="nama_instansi" class="form-control"/>
			<br>
			Jabatan <br>
			<input type="text" name="jabatan" class="form-control"/>
			<br><br>
			<button class="btn btn-primary active" role="button" type="submit" name="submit">Simpan</button>
		</form>
	</div>
</body>

</html>

</html>