<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container">
			  <div class="row">
			    <div class="col">
			     	<h3 th:text="'Data Pegawai Termuda'"></h3>
					<p th:text="'NIP: ' + ${termuda.nip}"></p>
					<p th:text="'Nama: ' + ${termuda.nama}"></p>
					<p th:text="'Tempat Lahir: ' + ${termuda.tempat_lahir}"></p>
					<p th:text="'Tanggal Lahir: ' + ${termuda.tanggal_lahir}"></p>
					<p th:text="'Tahun Masuk: ' + ${termuda.tahun_masuk}"></p>
			    </div>
			    <div class="col">
			     	<h3 th:text="'Data Pegawai Tertua'"></h3>
					<p th:text="'NIP: ' + ${tertua.nip}"></p>
					<p th:text="'Nama: ' + ${tertua.nama}"></p>
					<p th:text="'Tempat Lahir: ' + ${tertua.tempat_lahir}"></p>
					<p th:text="'Tanggal Lahir: ' + ${tertua.tanggal_lahir}"></p>
					<p th:text="'Tahun Masuk: ' + ${tertua.tahun_masuk}"></p>
			    </div>
			</div>
		</div>
	</body>
</html>