<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
		<div th:if="${jabatan}">
			<h3 th:text = "'Detail Jabatan ' + ${jabatan.nama}"></h3>
			<p th:text="'Nama			: ' + ${jabatan.nama}"></p>
			<p th:text="'Deskripsi	: ' + ${jabatan.deskripsi}"></p>
			<p th:text="'Gaji Pokok 	: ' + ${jabatan.gaji_pokok}"></p>
			<br>
	</div>
	</body>
</html>
