<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>

	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
		<div th:if="${pegawai}">
			<h3 th:text = "'Lihat Data Pegawai - ' + ${pegawai.nip}"></h3>
			<p th:text="'NIP			: ' + ${pegawai.nip}"></p>
			<p th:text="'Nama			: ' + ${pegawai.nama}"></p>
			<p th:text="'Tempat Lahir	: ' + ${pegawai.tempat_lahir}"></p>
			<p th:text="'Tanggal Lahir	: ' + ${pegawai.tanggal_lahir}"></p>
			<p th:text="'Tahun Masuk	: ' + ${pegawai.tahun_masuk}"></p>
			<p th:text="'Nama Instansi	: ' + ${instansi.nama}"></p>
			<p th:text="'Gaji	: ' + ${instansi.nama}"></p>
			<table>
		 	<thead>
					<tr>
						<th>Jabatan</th>
					</tr>
					<tr th:each="jabatan, iterationStatus : *{listJabatan}">
						<td th:text="${iterationStatus.count}"></td>
						<td th:text="${jabatan.nama}"></td>
					</tr> 
			</table>
			<br>
			<button type="submit" class="btn btn-primary">Ubah</button>
		</div>
	</body>
</html>